%h4
  .box
    .question_box Q
    Use CSS and HTML to write a layout of Header, Left side bar, and Main content layout, header and main content width needs to change with browser width and needs to have conformable margin and padding, and background color should be red, green, blue, Should work on Safari, Chrome, Firefox, IE 6, 7, 8       
  
  %p
    Demo:
    = link_to "Pure CSS and HTML layout ", "/layout.html", :target => "_blank"
      
  .box 
    .question_box Q
    Use jQuery to create the above HTML and CSS layout dynamically without using whole chunk of html and css code
  Demo:
  = link_to "Build layout through jQuery", "/jlayout.html", :target => "_blank"