%h3
  Hi, my name is Dong Liang. 
  The regular way of answering the tests is boring. So I took some time to build this small site to make it more funny and interactive.
   
      
.list_box.clearfix
  This site is built with Rails 3.0.9 and ...
  %br/
  %dl
    %dt CSS framework: 
    %dd Compass
    %dt View template:
    %dd Haml
    %dt JS library:
    %dd JQuery
    %dt API resources:
    %dd Google Map/Weather API
    %dt Editor: 
    %dd Textmate
    %dt Hosting:
    %dd Heroku
    %dt Github: 
    %dd= link_to "https://github.com/kobeld/planting" 
    
