%h3
  Hi, my name is Liangdong. I build this small site for two purposes:
  %p
  %ol
    %li The regular way of answering the tests is boring. So I want to make it more funny and interactive.
    %li While I'm not a eperienced ROR development(but willing to be), this give me a great chance to do some more pratice.
    
%h4
  This site is build with Rails 3.0.9 and...
  %br
  %ul
    %li CSS framework: Compass
    %li Page template: Haml
    %li JS library: JQuery
    %li API resources: Google Map/Weather API
    %li Editor: Textmate
    %li Hosting: Heroku
    %li 
      Github: 
      = link_to "https://github.com/kobeld/planting"
    
