
%h4.box
  You can only operate on one local Linux system, Please write a command to copy a local file to a remote linux server, and the command for remove it

%h4
  Assume:

  %br local file: ~/doc/abc.txt
  server name: kobeld 
  %br server address: 192.168.1.100
  target directory: /files/

  %p
  1. Copy a local file to remote linux server
  .notice
    $ scp ~/doc/abc.txt kobeld@192.168.1.100:/files/

  2. Delete the local file
  .notice
    $ rm ~/doc/abc.txt